body {
    font-family: Arial, sans-serif;
    background-color: #d1d1dd;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
}



.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-link:hover {
    color: #adb5b8; 
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.imagem-com-legenda {
    text-align: center;
    margin-top: 30px;
}

.imagem-com-legenda p {
    font-size: 0.95rem;
    color: #6c757d;
    max-width: 90%;
    margin: 10px auto;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #007bff;
    font-weight: bold;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
    padding-top: 30px;
    border-top: 1px solid #dee2e6;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.6rem;
    }

    section p {
        font-size: 1rem;
    }

    .container {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    section h2 {
        font-size: 1.4rem;
    }

    section p {
        font-size: 0.95rem;
    }

    footer {
        font-size: 0.8rem;
    }
}